<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Resultados de Escaneo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-list>
    <ion-item *ngFor="let result of scanResults">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-label class="ion-text-wrap">{{ result.data }}</ion-label>
          </ion-card-title>
          <ion-card-subtitle>
            {{ result.date }} - {{ result.time }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Latitud: {{ result.latitude }}, Longitud: {{ result.longitude }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="borrarDatos()">Borrar Datos</ion-button>
</ion-content>